# Configuration file

coke_oven {
    I:"billetCoal;_7200"=7200
    I:"billetLignite;_7200"=7200
    I:"block..redwood;_3600"=3600
    I:"block.hopseed.log;_3600"=3600
    I:"block.log.fusewood;_3600"=3600
    I:"block.log.hopseed;_3600"=3600
    I:"block.log.tiger;_3600"=3600
    I:"blockDustOilShale;_32400"=32400
    I:"blockDustOilshale;_32400"=32400
    I:"blockGemCoal;_32400"=32400
    I:"blockGemLignite;_32400"=32400
    I:"blockIngotCoal;_32400"=32400
    I:"blockIngotLignite;_32400"=32400
    I:"blockRawCoal;_32400"=32400
    I:"blockRawLignite;_32400"=32400
    I:"chunkGtCoal;_3600"=3600
    I:"chunkGtLignite;_3600"=3600
    I:"crushedCentrifugedCoal;_3600"=3600
    I:"crushedCentrifugedLignite;_3600"=3600
    I:"crushedCentrifugedOilShale;_3600"=3600
    I:"crushedCentrifugedTinyCoal;_3600"=3600
    I:"crushedCentrifugedTinyLignite;_1200"=1200
    I:"crushedCentrifugedTinyLignite;_3600"=3600
    I:"crushedCentrifugedTinyOilShale;_3600"=3600
    I:"crushedCoal;_3600"=3600
    I:"crushedLignite;_3600"=3600
    I:"crushedOilShale;_3600"=3600
    I:"crushedPurifiedCoal;_3600"=3600
    I:"crushedPurifiedLignite;_3600"=3600
    I:"crushedPurifiedOilShale;_3600"=3600
    I:"crushedPurifiedTinyCoal;_3600"=3600
    I:"crushedPurifiedTinyLignite;_3600"=3600
    I:"crushedPurifiedTinyOilShale;_3600"=3600
    I:"crushedTinyCoal;_3600"=3600
    I:"crushedTinyLignite;_3600"=3600
    I:"crushedTinyOilShale;_3600"=3600
    I:"dustOilShale;_3600"=3600
    I:"dustOilshale;_3600"=3600
    I:"gemCoal;_3600"=3600
    I:"gemLignite;_3600"=3600
    I:"gt.block.beam.1.0;_3600"=3600
    I:"gt.block.beam.1.1;_3600"=3600
    I:"gt.block.beam.1.2;_3600"=3600
    I:"gt.block.beam.1.3;_3600"=3600
    I:"gt.block.beam.1.fireproof.0;_3600"=3600
    I:"gt.block.beam.1.fireproof.1;_3600"=3600
    I:"gt.block.beam.1.fireproof.2;_3600"=3600
    I:"gt.block.beam.1.fireproof.3;_3600"=3600
    I:"gt.block.beam.2.0;_3600"=3600
    I:"gt.block.beam.2.1;_3600"=3600
    I:"gt.block.beam.2.2;_3600"=3600
    I:"gt.block.beam.2.3;_3600"=3600
    I:"gt.block.beam.2.fireproof.0;_3600"=3600
    I:"gt.block.beam.2.fireproof.1;_3600"=3600
    I:"gt.block.beam.2.fireproof.2;_3600"=3600
    I:"gt.block.beam.2.fireproof.3;_3600"=3600
    I:"gt.block.beam.3.0;_3600"=3600
    I:"gt.block.beam.3.1;_3600"=3600
    I:"gt.block.beam.3.3;_3600"=3600
    I:"gt.block.beam.3.fireproof.0;_3600"=3600
    I:"gt.block.beam.3.fireproof.1;_3600"=3600
    I:"gt.block.beam.3.fireproof.3;_3600"=3600
    I:"gt.block.beam.a.0;_3600"=3600
    I:"gt.block.beam.a.1;_3600"=3600
    I:"gt.block.beam.a.2;_3600"=3600
    I:"gt.block.beam.a.3;_3600"=3600
    I:"gt.block.beam.a.fireproof.0;_3600"=3600
    I:"gt.block.beam.a.fireproof.1;_3600"=3600
    I:"gt.block.beam.a.fireproof.2;_3600"=3600
    I:"gt.block.beam.a.fireproof.3;_3600"=3600
    I:"gt.block.beam.b.0;_3600"=3600
    I:"gt.block.beam.b.1;_3600"=3600
    I:"gt.block.beam.b.2;_3600"=3600
    I:"gt.block.beam.b.3;_3600"=3600
    I:"gt.block.beam.b.fireproof.0;_3600"=3600
    I:"gt.block.beam.b.fireproof.1;_3600"=3600
    I:"gt.block.beam.b.fireproof.2;_3600"=3600
    I:"gt.block.beam.b.fireproof.3;_3600"=3600
    I:"gt.block.beam.c.0;_3600"=3600
    I:"gt.block.beam.c.fireproof.0;_3600"=3600
    I:"gt.block.log.1.0;_3600"=3600
    I:"gt.block.log.1.1;_3600"=3600
    I:"gt.block.log.1.2;_3600"=3600
    I:"gt.block.log.1.3;_3600"=3600
    I:"gt.block.log.1.fireproof.0;_3600"=3600
    I:"gt.block.log.1.fireproof.1;_3600"=3600
    I:"gt.block.log.1.fireproof.2;_3600"=3600
    I:"gt.block.log.1.fireproof.3;_3600"=3600
    I:"gt.block.log.a.0;_3600"=3600
    I:"gt.block.log.a.12;_3600"=3600
    I:"gt.block.log.a.13;_3600"=3600
    I:"gt.block.log.a.14;_3600"=3600
    I:"gt.block.log.a.15;_3600"=3600
    I:"gt.block.log.a.1;_3600"=3600
    I:"gt.block.log.a.2;_3600"=3600
    I:"gt.block.log.a.3;_3600"=3600
    I:"gt.block.log.a.fireproof.0;_3600"=3600
    I:"gt.block.log.a.fireproof.12;_3600"=3600
    I:"gt.block.log.a.fireproof.13;_3600"=3600
    I:"gt.block.log.a.fireproof.14;_3600"=3600
    I:"gt.block.log.a.fireproof.15;_3600"=3600
    I:"gt.block.log.a.fireproof.1;_3600"=3600
    I:"gt.block.log.a.fireproof.2;_3600"=3600
    I:"gt.block.log.a.fireproof.3;_3600"=3600
    I:"gt.block.log.b.0;_3600"=3600
    I:"gt.block.log.b.12;_3600"=3600
    I:"gt.block.log.b.13;_3600"=3600
    I:"gt.block.log.b.14;_3600"=3600
    I:"gt.block.log.b.15;_3600"=3600
    I:"gt.block.log.b.1;_3600"=3600
    I:"gt.block.log.b.2;_3600"=3600
    I:"gt.block.log.b.3;_3600"=3600
    I:"gt.block.log.b.fireproof.0;_3600"=3600
    I:"gt.block.log.b.fireproof.12;_3600"=3600
    I:"gt.block.log.b.fireproof.13;_3600"=3600
    I:"gt.block.log.b.fireproof.14;_3600"=3600
    I:"gt.block.log.b.fireproof.15;_3600"=3600
    I:"gt.block.log.b.fireproof.1;_3600"=3600
    I:"gt.block.log.b.fireproof.2;_3600"=3600
    I:"gt.block.log.b.fireproof.3;_3600"=3600
    I:"gt.block.log.c.0;_3600"=3600
    I:"gt.block.log.c.12;_3600"=3600
    I:"gt.block.log.c.fireproof.0;_3600"=3600
    I:"gt.block.log.c.fireproof.12;_3600"=3600
    I:"gt.multiitem.randomtools.5999;_900"=900
    I:"ic2.blockRubWood;_3600"=3600
    I:"ingotCoal;_3600"=3600
    I:"ingotLignite;_3600"=3600
    I:"nuggetCoal;_3600"=3600
    I:"nuggetLignite;_3600"=3600
    I:"oreRawCoal;_3600"=3600
    I:"oreRawCoal;_7200"=7200
    I:"oreRawLignite;_3600"=3600
    I:"oreRawLignite;_7200"=7200
    I:"oreRawOilShale;_7200"=7200
    I:"stickBamboo;_1800"=1800
    I:"tile.BlockWarpwoodLog;_3600"=3600
    I:"tile.FullWood_crimson;_3600"=3600
    I:"tile.FullWood_foxfire;_3600"=3600
    I:"tile.FullWood_stripped_crimson;_3600"=3600
    I:"tile.FullWood_stripped_foxfire;_3600"=3600
    I:"tile.FullWood_stripped_warped;_3600"=3600
    I:"tile.FullWood_warped;_3600"=3600
    I:"tile.Stem2_foxfire;_3600"=3600
    I:"tile.Stem2_foxfire_stripped;_3600"=3600
    I:"tile.Stem_crimson;_3600"=3600
    I:"tile.Stem_crimson_stripped;_3600"=3600
    I:"tile.Stem_warped;_3600"=3600
    I:"tile.Stem_warped_stripped;_3600"=3600
    I:"tile.TFLog.0;_3600"=3600
    I:"tile.TFLog.1;_3600"=3600
    I:"tile.TFLog.2;_3600"=3600
    I:"tile.TFLog.3;_3600"=3600
    I:"tile.TFMagicLog.0;_3600"=3600
    I:"tile.TFMagicLog.1;_3600"=3600
    I:"tile.TFMagicLog.2;_3600"=3600
    I:"tile.TFMagicLog.3;_3600"=3600
    I:"tile.TFMagicLogSpecial.0;_3600"=3600
    I:"tile.TFMagicLogSpecial.1;_3600"=3600
    I:"tile.TFMagicLogSpecial.2;_3600"=3600
    I:"tile.TFMagicLogSpecial.3;_3600"=3600
    I:"tile.TaintLog;_3600"=3600
    I:"tile.blockMagicalLog.greatwood;_3600"=3600
    I:"tile.blockMagicalLog.silverwood;_3600"=3600
    I:"tile.bloodwood;_3600"=3600
    I:"tile.enderTreeLog;_3600"=3600
    I:"tile.etfuturum.bark2_0;_3600"=3600
    I:"tile.etfuturum.bark2_1;_3600"=3600
    I:"tile.etfuturum.bark_0;_3600"=3600
    I:"tile.etfuturum.bark_1;_3600"=3600
    I:"tile.etfuturum.bark_2;_3600"=3600
    I:"tile.etfuturum.bark_3;_3600"=3600
    I:"tile.etfuturum.log2_stripped_0;_3600"=3600
    I:"tile.etfuturum.log2_stripped_1;_3600"=3600
    I:"tile.etfuturum.log_stripped_0;_3600"=3600
    I:"tile.etfuturum.log_stripped_1;_3600"=3600
    I:"tile.etfuturum.log_stripped_2;_3600"=3600
    I:"tile.etfuturum.log_stripped_3;_3600"=3600
    I:"tile.etfuturum.wood2_stripped_0;_3600"=3600
    I:"tile.etfuturum.wood2_stripped_1;_3600"=3600
    I:"tile.etfuturum.wood_stripped_0;_3600"=3600
    I:"tile.etfuturum.wood_stripped_1;_3600"=3600
    I:"tile.etfuturum.wood_stripped_2;_3600"=3600
    I:"tile.etfuturum.wood_stripped_3;_3600"=3600
    I:"tile.for.logs.0;_3600"=3600
    I:"tile.for.logs.10;_3600"=3600
    I:"tile.for.logs.11;_3600"=3600
    I:"tile.for.logs.12;_3600"=3600
    I:"tile.for.logs.13;_3600"=3600
    I:"tile.for.logs.14;_3600"=3600
    I:"tile.for.logs.15;_3600"=3600
    I:"tile.for.logs.16;_3600"=3600
    I:"tile.for.logs.17;_3600"=3600
    I:"tile.for.logs.18;_3600"=3600
    I:"tile.for.logs.19;_3600"=3600
    I:"tile.for.logs.1;_3600"=3600
    I:"tile.for.logs.20;_3600"=3600
    I:"tile.for.logs.21;_3600"=3600
    I:"tile.for.logs.22;_3600"=3600
    I:"tile.for.logs.23;_3600"=3600
    I:"tile.for.logs.24;_3600"=3600
    I:"tile.for.logs.25;_3600"=3600
    I:"tile.for.logs.26;_3600"=3600
    I:"tile.for.logs.27;_3600"=3600
    I:"tile.for.logs.28;_3600"=3600
    I:"tile.for.logs.2;_3600"=3600
    I:"tile.for.logs.3;_3600"=3600
    I:"tile.for.logs.4;_3600"=3600
    I:"tile.for.logs.5;_3600"=3600
    I:"tile.for.logs.6;_3600"=3600
    I:"tile.for.logs.7;_3600"=3600
    I:"tile.for.logs.8;_3600"=3600
    I:"tile.for.logs.9;_3600"=3600
    I:"tile.for.logsFireproof.0;_3600"=3600
    I:"tile.for.logsFireproof.10;_3600"=3600
    I:"tile.for.logsFireproof.11;_3600"=3600
    I:"tile.for.logsFireproof.12;_3600"=3600
    I:"tile.for.logsFireproof.13;_3600"=3600
    I:"tile.for.logsFireproof.14;_3600"=3600
    I:"tile.for.logsFireproof.15;_3600"=3600
    I:"tile.for.logsFireproof.16;_3600"=3600
    I:"tile.for.logsFireproof.17;_3600"=3600
    I:"tile.for.logsFireproof.18;_3600"=3600
    I:"tile.for.logsFireproof.19;_3600"=3600
    I:"tile.for.logsFireproof.1;_3600"=3600
    I:"tile.for.logsFireproof.20;_3600"=3600
    I:"tile.for.logsFireproof.21;_3600"=3600
    I:"tile.for.logsFireproof.22;_3600"=3600
    I:"tile.for.logsFireproof.23;_3600"=3600
    I:"tile.for.logsFireproof.24;_3600"=3600
    I:"tile.for.logsFireproof.25;_3600"=3600
    I:"tile.for.logsFireproof.26;_3600"=3600
    I:"tile.for.logsFireproof.27;_3600"=3600
    I:"tile.for.logsFireproof.28;_3600"=3600
    I:"tile.for.logsFireproof.2;_3600"=3600
    I:"tile.for.logsFireproof.3;_3600"=3600
    I:"tile.for.logsFireproof.4;_3600"=3600
    I:"tile.for.logsFireproof.5;_3600"=3600
    I:"tile.for.logsFireproof.6;_3600"=3600
    I:"tile.for.logsFireproof.7;_3600"=3600
    I:"tile.for.logsFireproof.8;_3600"=3600
    I:"tile.for.logsFireproof.9;_3600"=3600
    I:"tile.log.acacia;_3600"=3600
    I:"tile.log.big_oak;_3600"=3600
    I:"tile.log.birch;_3600"=3600
    I:"tile.log.jungle;_3600"=3600
    I:"tile.log.oak;_3600"=3600
    I:"tile.log.spruce;_3600"=3600
    I:"tile.log;_3600"=3600
    I:"tile.logs1.cherryWood;_3600"=3600
    I:"tile.logs1.darkWood;_3600"=3600
    I:"tile.logs1.firWood;_3600"=3600
    I:"tile.logs1.sacredoakWood;_3600"=3600
    I:"tile.logs2.etherealWood;_3600"=3600
    I:"tile.logs2.magicWood;_3600"=3600
    I:"tile.logs2.mangroveWood;_3600"=3600
    I:"tile.logs2.palmWood;_3600"=3600
    I:"tile.logs3.deadWood;_3600"=3600
    I:"tile.logs3.redwoodWood;_3600"=3600
    I:"tile.logs3.willowWood;_3600"=3600
    I:"tile.logs4.hellbarkWood;_3600"=3600
    I:"tile.logs4.jacarandaWood;_3600"=3600
    I:"tile.logs4.mahoganyWood;_3600"=3600
    I:"tile.logs4.pineWood;_3600"=3600
    I:"tile.palmLog;_3600"=3600
    I:"tile.pamCinnamon;_3600"=3600
    I:"tile.pamMaple;_3600"=3600
    I:"tile.pamPaperbark;_3600"=3600
    I:"tile.pink_log;_3600"=3600
    I:"tile.witchery:witchlog.alder;_3600"=3600
    I:"tile.witchery:witchlog.hawthorn;_3600"=3600
    I:"tile.witchery:witchlog.rowan;_3600"=3600
}


