# Configuration file

polarizer {
    I:"billetIron;_96"=96
    I:"billetMeteoricIron;_96"=96
    I:"billetSteel;_96"=96
    I:"billetWroughtIron;_96"=96
    I:"blockIngotIron;_1296"=1296
    I:"blockIngotMeteoricIron;_1296"=1296
    I:"blockIngotSteel;_1296"=1296
    I:"blockIngotWroughtIron;_1296"=1296
    I:"boltIron;_18"=18
    I:"boltKnightmetal;_18"=18
    I:"chunkGtIron;_36"=36
    I:"chunkGtMeteoricIron;_36"=36
    I:"chunkGtSteel;_36"=36
    I:"chunkGtWroughtIron;_36"=36
    I:"ingotIron;_144"=144
    I:"ingotMeteoricIron;_144"=144
    I:"ingotSteel;_144"=144
    I:"ingotWroughtIron;_144"=144
    I:"nuggetIron;_16"=16
    I:"nuggetMeteoricIron;_16"=16
    I:"nuggetSteel;_16"=16
    I:"nuggetWroughtIron;_16"=16
    I:"plateCurvedSteel;_144"=144
    I:"plateDoubleSteel;_288"=288
    I:"plateDoubleWroughtIron;_288"=288
    I:"plateIron;_144"=144
    I:"plateWroughtIron;_144"=144
    I:"ringKnightmetal;_36"=36
    I:"roundNeodymium;_16"=16
    I:"scrapGtIron;_16"=16
    I:"scrapGtMeteoricIron;_16"=16
    I:"stickIron;_72"=72
    I:"stickLongCastIron;_144"=144
    I:"stickLongEnori;_144"=144
    I:"stickLongIron;_144"=144
    I:"stickLongIronCompressed;_144"=144
    I:"stickLongMeteoricIron;_144"=144
    I:"stickLongMeteorite;_144"=144
    I:"stickLongNeodymium;_144"=144
    I:"stickLongPigIron;_144"=144
    I:"stickLongSteel;_144"=144
    I:"stickLongWroughtIron;_144"=144
    I:"toolHeadAxeSteel;_416"=416
    I:"toolHeadAxeWroughtIron;_416"=416
    I:"toolHeadPickaxeIron;_416"=416
    I:"toolHeadPickaxeSteel;_416"=416
    I:"toolHeadRawArrowCastIron;_18"=18
    I:"toolHeadRawArrowEnori;_18"=18
    I:"toolHeadRawArrowIron;_18"=18
    I:"toolHeadRawArrowIronCompressed;_18"=18
    I:"toolHeadRawArrowMeteoricIron;_18"=18
    I:"toolHeadRawArrowMeteorite;_18"=18
    I:"toolHeadRawArrowPigIron;_18"=18
    I:"toolHeadRawArrowWroughtIron;_18"=18
    I:"toolHeadRawSawCastIron;_288"=288
    I:"toolHeadRawSawEnori;_288"=288
    I:"toolHeadRawSawIron;_288"=288
    I:"toolHeadRawSawIronCompressed;_288"=288
    I:"toolHeadRawSawMeteoricIron;_288"=288
    I:"toolHeadRawSawMeteorite;_288"=288
    I:"toolHeadRawSawPigIron;_288"=288
    I:"toolHeadRawSawWroughtIron;_288"=288
    I:"toolHeadSawSteel;_272"=272
    I:"toolHeadSwordMeteoricSteel;_272"=272
}


